<p>chart works!</p>
<div class="card">
    <div class="card-header ui-sortable-handle" style="cursor:move;">
        <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            Sales
        </h3>
    </div>
    <div class="card-body">
        <div class="tab-content p-0">
            <div class="chart tab-pane" id="revenue-chart"
                style="position: relative; height: 300px;">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class></div>
                    </div>
                </div>
                <canvas id="chart"></canvas>
            </div>
        </div>
    </div>
</div>