<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="../../index3.html" class="brand-link">
    <img src="./assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="./assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{username}}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

        <!--Dashboard-->
        <li class="nav-item">
          <a href="../../../index.html" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <!--Clients-->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>Clients
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview mb-1">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-list nav-icon"></i>
                <p>Client List</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-calendar-alt nav-icon"></i>
                <p>Pending Installations</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-chart-bar nav-icon"></i>
                <p>Stats</p>
              </a>
            </li>
          </ul>
        </li>

        <!--Finances-->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-line"></i>
            <p>Finances
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview mb-1">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-tachometer-alt nav-icon"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-file-invoice-dollar nav-icon"></i>
                <p>Invoices</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-cash-register nav-icon"></i>
                <p>Pending Payments</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-cart-arrow-down nav-icon"></i>
                <p>Outgoings</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-history nav-icon"></i>
                <p>Log</p>
              </a>
            </li>
          </ul>
        </li>

        <!--Technical support-->

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-life-ring"></i>
            <p>Technical support
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview mb-1">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-tachometer-alt nav-icon"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-ticket-alt nav-icon"></i>
                <p>Ticket List</p>
              </a>
            </li>
          </ul>
        </li>

        <!--Storage-->

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-warehouse"></i>
            <p>Storage
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview mb-1">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-tachometer-alt nav-icon"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-box-open nav-icon"></i>
                <p>Articles</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-truck nav-icon"></i>
                <p>Suppliers</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-angle-right mr-2"></i>
                <i class="fas fa-history nav-icon"></i>
                <p>Log</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Staff -->

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Staff</p>
          </a>
        </li>

        <!-- Log Out -->

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Log Out</p>
          </a>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>